<% @club.musics.each do |f| %>
  <div class="music-list-items">
    <span><%= f.name %></span>
    <%= link_to club_music_path(@club, f), method: :delete,
    remote: true do %>
      <i class="fa fa-times" id="delete-music"></i>
    <% end %>
  </div>
<% end %>