<% @clubs.each do |c| %>
  <div class="pic clubs-pic">
      <img src="<%= c.logo.url %>" class="pic-image" alt="Pic">
      <span class="pic-caption left-to-right">
          <h1 class="pic-title"><%= c.name %></h1>
          <p class="pic-subtitle">Subtitle</p>
          <%= link_to 'Ver boliche', club_path(c), class: 'btn clubs-span-btn' %>
      </span>
  </div>
<% end %>
<% if @clubs.empty? %>
  <i class="search-empty-icon ion-sad"></i>
  <p class="clubs-search-empty">No hay resultados</p>
<% end %>