<!-- Carousel -->
<div class="carousel slide" id="myCarousel">
	<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>   
	<div class="carousel-inner">
		<div class="item active">
			<img alt="Slide-home2" src="//bvision-corporate-website.s3.amazonaws.com/uploads/carousel_picture/image/13/slide-home2.jpg">
			<div class="container">
				<div class="carousel-caption">
					<h1>High-end Software Development</h1>
					<p>We help companies unlock value and productivity through technology.<br>
					<strong><a href="#">/ Let's Work Together </a></strong></p>
				</div>
			</div>
		</div>
		<div class="item">
			<img alt="Slide-home" src="//bvision-corporate-website.s3.amazonaws.com/uploads/carousel_picture/image/33/slide-home.jpg">
			<div class="container">
				<div class="carousel-caption">
					<h1>Deliver Better Software, Faster</h1>
					<p>Implement, integrate and customize top industry ALM solutions now.</p>
					<p><strong><a href="#">/ Learn More</a></strong></p>
				</div>
			</div>
		</div>
		<div class="item">
			<img alt="Slide-home_4" src="//bvision-corporate-website.s3.amazonaws.com/uploads/carousel_picture/image/34/slide-home_4.jpg">
			<div class="container">
				<div class="carousel-caption">
					<h1>Leverage the Benefits of the Cloud Today</h1>
					<p>We build high-performance, secure and scalable apps on the cloud, across different verticals and areas.</p>
					<p><strong><a href="#">/ Let's Work Together </a></strong></p>
				</div>
			</div>
		</div>
		<div class="item">
			<img alt="Slide-home3" src="//bvision-corporate-website.s3.amazonaws.com/uploads/carousel_picture/image/32/slide-home3.jpg">
			<div class="container">
				<div class="carousel-caption">
					<h1>Win With Mobile</h1>
					<p>Unwire your business and drive sales now.</p>
					<p><strong><a href="#">/ Learn More</a></strong></p>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" data-slide="prev" href="#myCarousel">‹</a>
	<a class="right carousel-control" data-slide="next" href="#myCarousel">›</a>
</div>

<!-- Events -->
<div class="tabbable-panel">
	<div class="tabbable-line">
		<ul class="nav nav-tabs ">
			<li class="active">
				<a href="#monday_tab" data-toggle="tab">Lunes</a>
			</li>
			<li>
				<a href="#tuesday_tab" data-toggle="tab">Martes</a>
			</li>
			<li>
				<a href="#wednesday_tab" data-toggle="tab">Miercoles</a>
			</li>
			<li>
				<a href="#thursday_tab" data-toggle="tab">Jueves</a>
			</li>
			<li>
				<a href="#friday_tab" data-toggle="tab">Viernes</a>
			</li>
			<li>
				<a href="#saturday_tab" data-toggle="tab">Sabado</a>
			</li>
			<li>
				<a href="#sunday_tab" data-toggle="tab">Domingo</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="monday_tab">
				<p>I'm in Tab 1.</p>
				<p>
					Duis autem eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
				</p>
			</div>
			<div class="tab-pane" id="tuesday_tab">
				<p>Howdy, I'm in Tab 2.</p>
				<p>
					Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
				</p>
			</div>
			<div class="tab-pane" id="wednesday_tab">
				<p>Howdy, I'm in Tab 3.</p>
				<p>
					Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
				</p>
			</div>
			<div class="tab-pane" id="thursday_tab">
				<p>Howdy, I'm in Tab 3.</p>
				<p>
					Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
				</p>
			</div>
			<div class="tab-pane" id="friday_tab">
				<p>Howdy, I'm in Tab 3.</p>
				<p>
					Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
				</p>
			</div>
			<div class="tab-pane" id="saturday_tab">
				<div id="events-pic" class="pic">
					<img src="//s7.postimg.org/fzb6t6xff/image.jpg" class="pic-image" alt="Pic">
					<span class="pic-caption-events left-to-right">
					  <h1 class="pic-title">Rotate In</h1>
					  <p class="pic-subtitle">Hi, this is a simple example =D</p>
					</span>
				</div>
				<div id="events-pic" class="pic">
					<img src="//s7.postimg.org/fzb6t6xff/image.jpg" class="pic-image" alt="Pic">
					<span class="pic-caption-events left-to-right">
					  <h1 class="pic-title">Rotate In</h1>
					  <p class="pic-subtitle">Hi, this is a simple example =D</p>
					</span>
				</div>
			</div>
			<div class="tab-pane" id="sunday_tab">
					<div id="events-pic" class="pic">
						<img src="//s7.postimg.org/yg5lk0ddn/image.png" class="pic-image" alt="Pic">
						<span class="pic-caption-events left-to-right">
						  <h1 class="pic-title">Rotate In</h1>
						  <p class="pic-subtitle">Hi, this is a simple example =D</p>
						</span>
					</div>
					<div id="events-pic" class="pic">
						<img src="//s7.postimg.org/yg5lk0ddn/image.png" class="pic-image" alt="Pic">
						<span class="pic-caption-events left-to-right">
						  <h1 class="pic-title">Rotate In</h1>
						  <p class="pic-subtitle">Hi, this is a simple example =D</p>
						</span>
					</div>
			</div>
		</div>
	</div>
</div>

<!-- Grid -->
<div class="grid">
	<div class="container grids-container">
			<div class="pic">
			    <img src="//s29.postimg.org/44rfw60k7/week.jpg" class="pic-image" alt="Pic">
			    <span class="pic-caption left-to-right">
			        <h1 class="pic-title">Week</h1>
			        <p class="pic-subtitle">Subtitle</p>
			        <a href="#" class="btn-default btn-sm">Ver boliche</a>
			    </span>
			</div>

			<div class="pic">
			    <img src="http://3.bp.blogspot.com/-bYlwVdMJCxE/UzTgRZ_07iI/AAAAAAAAE_E/7Jya-StymwE/s1600/jet+club+divino+(2).jpg" class="pic-image" alt="Pic">
			    <span class="pic-caption left-to-right">
			        <h1 class="pic-title">Jet</h1>
			        <p class="pic-subtitle">Subtitle</p>
			        <a href="#" class="btn-default btn-sm">Ver boliche</a>
			    </span>
			</div>

			<div class="pic">
			    <img src="//s29.postimg.org/40kau27vb/eldivino.jpg" class="pic-image" alt="Pic">
			    <span class="pic-caption left-to-right">
			        <h1 class="pic-title">El Divino</h1>
			        <p class="pic-subtitle">Subtitle</p>
			        <a href="#" class="btn-default btn-sm">Ver boliche</a>
			    </span>
			</div>

			<div class="pic">
			    <img src="//s29.postimg.org/6ebfck11z/laboite.jpg" class="pic-image" alt="Pic">
			    <span class="pic-caption left-to-right">
			        <h1 class="pic-title">La Boite</h1>
			        <p class="pic-subtitle">Subtitle</p>
			        <a href="#" class="btn-default btn-sm">Ver boliche</a>
			    </span>
			</div>

	</div>
</div>