<!-- Carousel -->
<div class="carousel slide" id="myCarousel">
	<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>   
	<div class="carousel-inner">
		<div class="item active">
			<img alt="Slide-home2" src="https://bvision-corporate-website.s3.amazonaws.com/uploads/carousel_picture/image/13/slide-home2.jpg">
			<div class="container">
				<div class="carousel-caption">
					<h1>High-end Software Development</h1>
					<p>We help companies unlock value and productivity through technology.<br>
					<strong><a href="#">/ Let's Work Together </a></strong></p>
				</div>
			</div>
		</div>
		<div class="item">
			<img alt="Slide-home" src="https://bvision-corporate-website.s3.amazonaws.com/uploads/carousel_picture/image/33/slide-home.jpg">
			<div class="container">
				<div class="carousel-caption">
					<h1>Deliver Better Software, Faster</h1>
					<p>Implement, integrate and customize top industry ALM solutions now.</p>
					<p><strong><a href="#">/ Learn More</a></strong></p>
				</div>
			</div>
		</div>
		<div class="item">
			<img alt="Slide-home_4" src="https://bvision-corporate-website.s3.amazonaws.com/uploads/carousel_picture/image/34/slide-home_4.jpg">
			<div class="container">
				<div class="carousel-caption">
					<h1>Leverage the Benefits of the Cloud Today</h1>
					<p>We build high-performance, secure and scalable apps on the cloud, across different verticals and areas.</p>
					<p><strong><a href="#">/ Let's Work Together </a></strong></p>
				</div>
			</div>
		</div>
		<div class="item">
			<img alt="Slide-home3" src="https://bvision-corporate-website.s3.amazonaws.com/uploads/carousel_picture/image/32/slide-home3.jpg">
			<div class="container">
				<div class="carousel-caption">
					<h1>Win With Mobile</h1>
					<p>Unwire your business and drive sales now.</p>
					<p><strong><a href="#">/ Learn More</a></strong></p>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" data-slide="prev" href="#myCarousel">‹</a>
	<a class="right carousel-control" data-slide="next" href="#myCarousel">›</a>
</div>

<!-- Days -->
<div class="days">
	<div class="container">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingMonday">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseMonday" aria-expanded="true" aria-controls="collapseMonday">
		          Lunes
		        </a>
		      </h4>
		    </div>
		    <div id="collapseMonday" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingMonday">
		      <div class="panel-body">
						<div class="pic">
						    <img src="http://s7.postimg.org/fzb6t6xff/image.jpg" class="pic-image" alt="Pic">
						    <span class="pic-caption bottom-to-top">
						        <h1 class="pic-title">Bottom to Top</h1>
						        <p class="pic-subtitle">Hi, this is a simple example =D</p>
						    </span>
						</div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTuesday">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTuesday" aria-expanded="false" aria-controls="collapseTuesday">
		          Martes
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTuesday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTuesday">
		      <div class="panel-body">
		        <div class="pic">
						    <img src="http://s7.postimg.org/fzb6t6xff/image.jpg" class="pic-image" alt="Pic">
						    <span class="pic-caption bottom-to-top">
						        <h1 class="pic-title">Bottom to Top</h1>
						        <p class="pic-subtitle">Hi, this is a simple example =D</p>
						    </span>
						</div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingWednesday">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseWednesday" aria-expanded="false" aria-controls="collapseWednesday">
		          Miércoles
		        </a>
		      </h4>
		    </div>
		    <div id="collapseWednesday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingWednesday">
		      <div class="panel-body">
		        <div class="pic">
						    <img src="http://s7.postimg.org/fzb6t6xff/image.jpg" class="pic-image" alt="Pic">
						    <span class="pic-caption bottom-to-top">
						        <h1 class="pic-title">Bottom to Top</h1>
						        <p class="pic-subtitle">Hi, this is a simple example =D</p>
						    </span>
						</div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThursday">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThursday" aria-expanded="false" aria-controls="collapseThursday">
		          Jueves
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThursday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThursday">
		      <div class="panel-body">
		        <div class="pic">
						    <img src="http://s7.postimg.org/fzb6t6xff/image.jpg" class="pic-image" alt="Pic">
						    <span class="pic-caption bottom-to-top">
						        <h1 class="pic-title">Bottom to Top</h1>
						        <p class="pic-subtitle">Hi, this is a simple example =D</p>
						    </span>
						</div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingFriday">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFriday" aria-expanded="false" aria-controls="collapseFriday">
		          Viernes
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFriday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFriday">
		      <div class="panel-body">
		        <div class="pic">
						    <img src="http://s7.postimg.org/fzb6t6xff/image.jpg" class="pic-image" alt="Pic">
						    <span class="pic-caption bottom-to-top">
						        <h1 class="pic-title">Bottom to Top</h1>
						        <p class="pic-subtitle">Hi, this is a simple example =D</p>
						    </span>
						</div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingSaturday">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSaturday" aria-expanded="false" aria-controls="collapseSaturday">
		          Sabado
		        </a>
		      </h4>
		    </div>
		    <div id="collapseSaturday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSaturday">
		      <div class="panel-body">
		        <div class="pic">
						    <img src="http://s7.postimg.org/fzb6t6xff/image.jpg" class="pic-image" alt="Pic">
						    <span class="pic-caption bottom-to-top">
						        <h1 class="pic-title">Bottom to Top</h1>
						        <p class="pic-subtitle">Hi, this is a simple example =D</p>
						    </span>
						</div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingSunday">
		      <h4 class="panel-title">
		        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSunday" aria-expanded="false" aria-controls="collapseSunday">
		          Domingo
		        </a>
		      </h4>
		    </div>
		    <div id="collapseSunday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSunday">
		      <div class="panel-body">
		        <div class="pic">
						    <img src="http://s7.postimg.org/fzb6t6xff/image.jpg" class="pic-image" alt="Pic">
						    <span class="pic-caption bottom-to-top">
						        <h1 class="pic-title">Bottom to Top</h1>
						        <p class="pic-subtitle">Hi, this is a simple example =D</p>
						    </span>
						</div>
		      </div>
		    </div>
		  </div>

		</div>
	</div>
</div>

<!-- Grid -->
<div class="grid">
	<div class="container grids-container">
			<!--Effect: Bottom to Top -->
			<div class="pic">
			    <img src="http://s7.postimg.org/fzb6t6xff/image.jpg" class="pic-image" alt="Pic">
			    <span class="pic-caption bottom-to-top">
			        <h1 class="pic-title">Bottom to Top</h1>
			        <p class="pic-subtitle">Hi, this is a simple example =D</p>
			    </span>
			</div>

			<!--Effect: Top to Bottom -->
			<div class="pic">
			    <img src="http://s7.postimg.org/5f19alsxn/image.png" class="pic-image" alt="Pic">
			    <span class="pic-caption top-to-bottom">
			        <h1 class="pic-title">Top to Bottom</h1>
			        <p class="pic-subtitle">Hi, this is a simple example =D</p>
			    </span>
			</div>
			<!--Effect: Left to Right -->
			<div class="pic">
			    <img src="http://s7.postimg.org/lyucj3su3/image.jpg" class="pic-image" alt="Pic">
			    <span class="pic-caption left-to-right">
			        <h1 class="pic-title">Left to Right</h1>
			        <p class="pic-subtitle">Hi, this is a simple example =D</p>
			    </span>
			</div>

			<!--Effect: Right to Left -->
			<div class="pic">
			    <img src="http://s7.postimg.org/ywqt6g14r/image.png" class="pic-image" alt="Pic">
			    <span class="pic-caption right-to-left">
			        <h1 class="pic-title">Right to Left</h1>
			        <p class="pic-subtitle">Hi, this is a simple example =D</p>
			    </span>
			</div>

			<!--Effect: Rotate More -->
			<div class="pic">
			    <img src="http://s7.postimg.org/yg5lk0ddn/image.png" class="pic-image" alt="Pic">
			    <span class="pic-caption rotate-in">
			        <h1 class="pic-title">Rotate In</h1>
			        <p class="pic-subtitle">Hi, this is a simple example =D</p>
			    </span>
			</div>

			<!--Effect: Rotate LESS -->
			<div class="pic">
			    <img src="http://s7.postimg.org/c4ce4d3nf/image.png" class="pic-image" alt="Pic">
			    <span class="pic-caption rotate-out">
			        <h1 class="pic-title">Rotate Out</h1>
			        <p class="pic-subtitle">Hi, this is a simple example =D</p>
			    </span>
			</div>

			<!--Effect: Open Up -->
			<div class="pic">
			    <img src="http://s7.postimg.org/pwqszzuez/image.jpg" class="pic-image" alt="Pic">
			    <span class="pic-caption open-up">
			        <h1 class="pic-title">Open Up</h1>
			        <p class="pic-subtitle">Hi, this is a simple example =D</p>
			    </span>
			</div>

			<!--Effect: Open Down -->
			<div class="pic">
			    <img src="http://s7.postimg.org/xgfaoay7v/image.jpg" class="pic-image" alt="Pic">
			    <span class="pic-caption open-down">
			        <h1 class="pic-title">Open Down</h1>
			        <p class="pic-subtitle">Hi, this is a simple example =D</p>
			    </span>
			</div>

			<!--Effect: Open Left -->
			<div class="pic">
			    <img src="http://s7.postimg.org/7frsvfp2z/image.png" class="pic-image" alt="Pic">
			    <span class="pic-caption open-left">
			        <h1 class="pic-title">Open Left</h1>
			        <p class="pic-subtitle">Hi, this is a simple example =D</p>
			    </span>
			</div>

			<!--Effect: Open Right -->
			<div class="pic">
			    <img src="http://s7.postimg.org/t9ug8yym3/image.png" class="pic-image" alt="Pic">
			    <span class="pic-caption open-right">
			        <h1 class="pic-title">Open Right</h1>
			        <p class="pic-subtitle">Hi, this is a simple example =D</p>
			    </span>
			</div>

			<!--Effect: Come Left -->
			<div class="pic">
			    <img src="http://s7.postimg.org/6axqq22m3/image.png" class="pic-image" alt="Pic">
			    <span class="pic-caption come-left">
			        <h1 class="pic-title">Come Left</h1>
			        <p class="pic-subtitle">Hi, this is a simple example =D</p>
			    </span>
			</div>

			<!--Effect: Come Right -->
			<div class="pic">
			    <img src="http://s7.postimg.org/47nbie2t7/image.png" class="pic-image" alt="Pic">
			    <span class="pic-caption come-right">
			        <h1 class="pic-title">Come Right</h1>
			        <p class="pic-subtitle">Hi, this is a simple example =D</p>
			    </span>
			</div>

	</div>
</div>

<footer>
  <div class="container first-footer">
  <p>LOGO</p>
  </div>    
  <div class="container second-footer">
    <div class="row social">
      <a class="btn btn-social-icon btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-md']);"><i class="fa fa-facebook"></i></a>
      <a class="btn btn-social-icon btn-google-plus" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-md']);"><i class="fa fa-google-plus"></i></a>
      <a class="btn btn-social-icon btn-instagram" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-md']);"><i class="fa fa-instagram"></i></a>
      <a class="btn btn-social-icon btn-twitter" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-md']);"><i class="fa fa-twitter"></i></a>
    </div> 
    <p class="copy">© 2014 QUE SALE HOY. TODOS LOS DERECHOS RESERVADOS.</p>
  </div>    
</footer>