<div>
 <strong>Facebook</strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
</div>


 <strong>Devise</strong>!
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %><div>
</div>