<body class="profile-bg">
	<div class="container">
		<div class="user-info">
			<div class="col-lg-4">
				<img class="photo" src="//s30.postimg.org/o6zip7d0h/1800359_10152365920904073_1861252036_n.jpg">
			</div>
			<div class="col-lg-8">
				<p class="name" style="text-align: center"><%= current_user.name %></p>
			</div>
		</div>
		<div class="profile-content">
		</div>
	</div>
</body>
