/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Navbar styles */

.navbar-fixed-top{
	border-bottom: none;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 13px;
	background-color: rgba(26, 27, 34, 1);
	border-radius: 0px 0px 0px 0px;
}

.navbar-item:hover{
	background-color: #c50000;
}

@media (max-width: 1600px){
	.navbar-header{
		padding-left: 50px;
	}
}


.navbar-header{
	padding-top: 5px;
}

.navbar-fixed-top .navbar-brand{
	color: white;
}

.navbar-fixed-top .navbar-nav>li>a{
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	color: white;
	font-family: Helvetica,Arial,sans-serif;
}

.navbar-fixed-top .navbar-nav>li>a:hover{
	color: white;
}

@media (max-width: 770px){
	.navbar-header{
		padding-left: 0px;
	}
	.navbar-collapse{
		padding-right: 0px;
	}
	.navbar-fixed-top .navbar-nav>li>a{
		text-align: center;
	}
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;	
}

.navbar-default .navbar-toggle{
	border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

/* -------------------*/
