/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Devise forms */

.sign_in{
	text-align: center;
	padding: 20px;
	margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#form{
	padding: 30px;
	background: white;
	border-radius: 10px 10px 10px 10px;
	rder: -moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	bo0px solid #000000;
	box-shadow: 0 1px 5px 0 #ccc;
	color: #3D78D3;
	border-color: #3D78D3;
}

.elements{
	margin: 15px;
}

/*-------------------------*/


/* Navbar styles */

.navbar-default{
	background: white;
	border-bottom: 1px solid #dededa;
	border-top: none;
	border-left: none;
	border-right: none;
	box-shadow: 0px 1px 2px rgba(127,127,127,0.2);
	font-size: 13px;
}

@media (min-width: 1600px){
	.navbar-header{
		padding-left: 300px;
	}
	.navbar-collapse{
		padding-right: 300px;
	}
}

@media (max-width: 1600px){
	.navbar-header{
		padding-left: 100px;
	}
	.navbar-collapse{
		padding-right: 100px;
	}
}

@media (max-width: 770px){
	.navbar-header{
		padding-left: 0px;
	}
	.navbar-collapse{
		padding-right: 0px;
	}
}

.navbar-header{
	padding-top: 5px;
}

.navbar-nav>li>a{
	padding-top: 20px;
	padding-bottom: 20px;
}

body{
	background: url('banner.jpg');
}

/* -------------------*/


.fb-btn{
	width: 200px;
	height: auto;
	margin: auto;
	text-align: center;
}