/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  font-family: 'Titillium Web', sans-serif;
}

body{
  margin-top: 60px;
}

.btn-default:hover{
  border-color: transparent;
}

a:hover, a:focus {
  text-decoration: none;
}

.tooltip{
  font-size: 10pt;
}

/* Custom buttons */

.blue-btn{
  color: #fff;
  background-color: #357DF4;
  border: 1px solid transparent;
  font-weight: bold;
  text-align: center;
}

.red-btn{
  color: #fff;
  background-color: #c9302c;
  border: 1px solid transparent;
  font-weight: bold;
  text-align: center;
}

.blue-btn:hover, .blue-btn:focus,
.red-btn:hover, .red-btn:focus{
  color: #fff;
}

/* Navbar */

.navbar-fixed-top{
  min-height: 60px;
  border-bottom: none;
  border-top: none;
  background-color: #091e31;
  border-left: none;
  border-right: none;
  font-size: 13px;
  border-radius: 0px 0px 0px 0px;
}

.navbar-header{
  padding-top: 5px;
}

.navbar-fixed-top .navbar-brand{
  color: #fff;
}

.navbar-right{
  margin-right: -150px;
}

.navbar-fixed-top .nav>li:hover{
  border-top: 4px solid #42c6f3;
  transition: all .3s ease-in-out;
}

.navbar-fixed-top .nav>li:hover:last-child{
  border: none;
}

.navbar-fixed-top .nav li:focus{
  outline: 0;
}

.navbar-fixed-top .nav>li>a{
  padding: 15.5px;
  color: #fff;
  letter-spacing: 1px;
  font-size: 8.5pt;
  text-transform: uppercase;
}

.navbar-fixed-top .nav li a,
.navbar-fixed-top .nav>li>a>span{
  font-weight: bold;
}

.navbar-fixed-top .nav li.dropdown a{
  color: #fff;
  padding-bottom: 0;
  background: transparent;
  font-weight: bold;
  transition: all .2s ease-in-out;
}

.navbar-fixed-top .nav li a:hover,
.navbar-fixed-top .nav li a:focus{
  color: #fff;
  outline: 0;
}

.navbar-fixed-top .nav li.dropdown ul{
  background-color: #091e31;
  padding: 0;
}

.navbar-fixed-top .nav li.dropdown ul li{
  text-align: center;
  padding: 10px;
}

.navbar-fixed-top .nav li.dropdown button{
  color: #fff;
  background: transparent;
  border: none;
  font-weight: bold;
  transition: all .2s ease-in-out;
}

.navbar-fixed-top .nav li.dropdown button:hover{
  color: #42c6f3;
  transition: color .2s ease-in-out;
}

.navbar-fixed-top .nav li button:focus{
  outline: 0;
}

.navbar-fixed-top .nav>li.notifications:hover{
  border-top: none;
}

.navbar-fixed-top .nav>li.notifications ul{
  width: 300px;
}

.navbar-fixed-top .nav>li.notifications ul{
  margin-top: 10px;
}

.navbar-fixed-top .nav>li.notifications li{
  color: #fff;
  padding-bottom: 0;
  background: transparent;
  font-weight: bold;
  transition: all .2s ease-in-out;
}

.navbar-fixed-top .nav li.notifications ul:before{
  content: "";
  position: absolute;
  right: 30px;
  margin-top: -8px;
  border-bottom: 8px solid #1D6BB0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.navbar-fixed-top .nav li.dropdown ul h3{
  background-color: #1D6BB0;
  font-weight: bold;
  text-align: center;
  font-size: 12pt;
  padding: 5px;
  color: #fff;
  margin: 0;
}

.navbar-fixed-top .nav li.dropdown li.divider{
  padding: 0;
  margin: 5px 0;
  background: #42c6f3;
}

.navbar-fixed-top .nav li.dropdown i{
  font-size: 18pt;
  display: inline-block;
}

.navbar-fixed-top .nav li.dropdown>ul>li>a:hover{
  color: #42c6f3;
  transition: color .2s ease-in-out;  
}

.navbar-default .navbar-nav .open > a, 
.navbar-default .navbar-nav .open > a:hover, 
.navbar-default .navbar-nav .open > a:focus {
  background-color: transparent;
  color: #fff;
}

.caret{
  margin-left: 5px;
}

.profile-image{
  width: 35px;
  height: 35px;
  background-position: center 30%;
  background-repeat: no-repeat;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #fff;  
}

.navbar-default .navbar-toggle{
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

@media (max-width: 1600px){
  .navbar-header{
    padding-left: 50px;
  }

  .navbar-right{
    margin-right: -80px;
  }
}

@media (max-width: 1300px){
  .navbar-right{
    margin-right: -30px;
  }
}

@media (max-width: 767px){
  .navbar-header{
    padding-left: 0px;
  }

  .navbar-right{
    margin-right: -20px;
  }

  .navbar-collapse{
    padding-right: 0px;
  }

  .navbar-fixed-top .nav>li:hover{
    border-top: none;
  }

  .nav>li>a{
    text-align: center;
  }

  .navbar-fixed-top .nav>li.notifications ul{
    width: 100%;
  }

  .navbar-fixed-top .nav li.notifications ul:before{
    content: none;
  }

  .nav li.dropdown>ul>li>a{
    color: #fff !important;
  }

  .nav li.dropdown>ul>li>a:hover{
    color: #42c6f3 !important;
    transition: all .3s ease-in-out;
  }
}

/* -------------------*/

/* Scroll to top */

.scrollToTop{
  width:100px; 
  height:130px;
  padding:10px; 
  text-align:center; 
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position:fixed;
  top:85%;
  right: 0px;
  display:none;
  border: 0px;
}
.scrollToTop:hover{
  text-decoration:none;
}

@media (max-width: 1000px){
  .arrow{
    display: none;
  }
}

/* Footer */

footer{
  background-color: #1b354c;
  text-align: center;
  padding: 6em;
}

ul.social {
  padding: 1.5em;
  list-style: none;
  cursor: default;
}

ul.social li {
  display: inline-block;
  margin: 0 1.5em;
}

@media (max-width: 445px){
  ul.social li {
    display: block;
    margin: 0 1em;
  }

  .social-text{
    font-size: 1.25em;
  }
}

ul.social li a {
  font-size: 2.75em;
  display: inline-block;
  
}

.social i{
  color: rgb(118, 134, 148);
}

.social-text{
  font-size: 1.7em;
  color: rgb(118, 134, 148);
}

.copyright{
  background-color: #1b354c;
  margin-bottom: -10px;
  text-align: center;
}

.copyright .container{
  padding: 3em;
  border-top: 1px solid;
  border-color: rgb(118, 134, 148);
  color: rgb(118, 134, 148);
}

/* Share buttons */

.sharer{
  position: fixed;
  display: block;
  top: 30%;
  left: 0;
  z-index: 10;
}

.sharer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.facebook-share{
  border-radius: 0;
  padding: 5px 14px;
  font-size: 20px;
}

.twitter-share{
  border-radius: 0;
  padding: 5px 10px;
  font-size: 20px;
}

.google-share{
  border-radius: 0;
  padding: 5px 10px;
  font-size: 20px;
}

.arrow_box {
  position: relative;
  right: -2px;
  top: 0px;
  display: inline-block;
  padding: 6px 8px 6px;
  border: 1px solid #ddd;
  border-left-width: 0;
  vertical-align: 0;
  font-size: 11px;
  color: #999;
  background: #fff;
  margin-right: 5px;
}

.arrow_box:before {
  content: "";
  position: absolute;
  left: -6px;
  top: 50%;
  margin-top: -5px;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
}