.club-show{
  background-color: #1F253D;
}

.club-main-container{
  background: #1F253D;
  height: auto;
  display: flex;
  justify-content: center;
}

.club-left-column{
  width: 25%;
  margin-top: 20px;
}

.features{
  min-height: 135px;
  background-color: #394263;
  margin-bottom: 20px;
  border-radius: 0 0 3px 3px;
  position: relative;
  z-index: 0
}

.features-title{
  text-align: center;
  font-size: 13pt;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  display: block;
  background-color: #13C1C4;
  border-radius: 3px 3px 0 0;
  position: relative;
}

.features-btns{
  position: absolute;
  width: 95px;
  top: 0px;
  left: 0px;
  z-index: -1;
  transition: all .2s ease-in-out;
}

.features-btns-show{
  left: -100px;
  transition: all .2s ease-in-out;
}

.features-btns .mint-btn{
  font-size: 10pt;
  width: 90px;
  padding: 5px;
}

.features-btns .mint-btn:first-child{
  margin-bottom: 10px;
}

.features-btns #feature-add{
  display: none;
}

.features-btns button i{
  font-size: 12px;
  margin-right: 2px;
}

.features-list-items{
  font-size: 11pt;
  color: #fff;
  text-align: center;
  border-bottom: 2px solid #262F4E;
  padding: 12px 0;
}

.features-list-items:last-child{
  border-bottom: none;
}

.features-list-items #delete-feature{
  color: red;
  display: none;
  margin-left: 5px;
}

.music{
  min-height: 135px;
  background-color: #394263;
  border-radius: 0 0 3px 3px;
  position: relative;
  z-index: 0
}

.music-title{
  text-align: center;
  font-size: 13pt;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  display: block;
  background-color: #13C1C4;
  border-radius: 3px 3px 0 0;
  position: relative;
}

.music-btns{
  position: absolute;
  width: 95px;
  top: 0px;
  left: 0px;
  z-index: -1;
  transition: all .2s ease-in-out;
}

.music-btns-show{
  left: -100px;
  transition: all .2s ease-in-out;
}

.music-btns .mint-btn{
  font-size: 10pt;
  width: 90px;
  padding: 5px;
}

.music-btns .mint-btn:first-child{
  margin-bottom: 10px;
}

.music-btns #music-add{
  display: none;
}

.music-btns button i{
  font-size: 12px; 
  margin-right: 2px;
}

.music-list-items{
  font-size: 11pt;
  color: #fff;
  text-align: center;
  border-bottom: 2px solid #262F4E;
  padding: 12px 0;
}

.music-list-items:last-child{
  border-bottom: none;
}

.music-list #delete-music{
  color: red; 
  display: none;
  margin-left: 5px;
}

.club-mid-column{
  width: 45%;
  margin: 20px;
}

.club-logo-info{
  color: white;
  text-align: center;
  background-color: #394263;
  padding: 20px 0 40px 0;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.club-logo{
  border-radius: 150px;
  height: 210px;
  width: 210px;
  border: 10px solid #51587A;
}

.club-logo:hover{
  cursor: pointer;
}

.club-info{
  padding: 15px 0;
}

.club-info .club-name {
  font-size: 22pt;
  font-weight: bold;
  color: #fff;
  text-transform: none;
}

.events-lists-count{
  font-size: 16pt;
}

.club-events-info span{
  font-size: 12pt;
  padding: 5px;
}

.club-logo-info .buttons{
  position: absolute;
  width: 100%;
  bottom: -35px;
  transition: all .2s ease-in-out;
}

.club-buttons-show{
  bottom: 10px !important;
  transition: all .2s ease-in-out;
}

.social-links-container{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0;
  background-color: #51587A;
}

.social-links-container a{
  font-size: 18pt;
  padding: 0 15px;
  color: #97A0C1;
}

.club-events{
  border-radius: 0 0 3px 3px;
  background-color: #394263;
  min-height: 150px;
}

.club-events-title{
  text-align: center;
  font-size: 13pt;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  display: block;
  background-color: #CC324C;
  border-radius: 3px 3px 0 0;
}

.club-events-empty{
  line-height: 100px;
  text-align: center;
  color: #fff;
  font-size: 14pt;
}

.club-event-item{
  position: relative;
  overflow: hidden;
  min-height: 240px;
  max-height: 240px;
}

.club-event-item:last-child{
  border-radius: 0 0 3px 3px;
}

.club-event-item span{
  position: absolute;
  width: 100%;
  bottom: -70px;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, .8);
  text-align: center;
  color: #fff;
  transition: bottom .2s ease-in-out;
}

.club-event-item span h1{
  margin-bottom: 50px;
}

.club-event-item .hot-pink-btn{
  padding: 5px 80px;
  font-size: 10pt;
}

.club-event-span-up{
  bottom: 0 !important;
  transition: bottom .2s ease-in-out;
}

.club-right-column{
  width: 25%;
  margin-top: 20px;
}

.club-address-section p{
  text-align: center;
  background-color: #CC324C;
  color: #fff;
  font-size: 12pt;
  padding: 20px 10px;
  margin: 0;
  border-radius: 3px 3px 0 0;
}

.club-address-section p i{
  margin-right: 3px;
  font-size: 14pt;
}

.club-address-section .map{
  border: none;
  width: 100%;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 15px;
}

.club-address-section #map{
  height: 350px;
  border-radius: 0 0 3px 3px;
}

.club-stuff-container{
  position: relative;
  display: -webkit-box;
}