.club-show{
  background-color: #1F253D;
}

.club-main-container{
  background: #1F253D;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding: 0;
}

.club-left-column{
  width: 25%;
  margin-top: 20px;
  margin-right: auto;
}

.club-mid-column{
  width: 45%;
  margin-top: 20px;
}

.club-logo-info{
  color: white;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  padding: 0;
  margin-top: 20px;
}

.club-image:hover{
  cursor: pointer;
}

.club-logo{
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  height: 250px;
  width: 250px;
  border: 10px solid #394263;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 115px;
  z-index: 1;
}

.club-logo:hover{
  cursor: pointer;
}

.club-logo-info .sub-container{
  padding: 65px 0 15px 0;
  overflow: hidden;
  position: relative;
  background-color: #394263;
  margin-left: auto;
  margin-top: auto;
}

.club-info .club-name {
  font-size: 22pt;
  font-weight: bold;
  color: #fff;
  text-transform: none;
}

.events-lists-count{
  font-size: 20pt;
}

.club-events-info span{
  font-size: 15pt;
  padding: 5px;
}

.club-logo-info .buttons{
  position: absolute;
  width: 100%;
  top: -35px;
  text-align: left;
  margin-left: 10px;
  z-index: 2;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.club-buttons-show{
  top: 10px !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.social-links-container{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0;
  background-color: #51587A;
}

.social-links-container a{
  font-size: 18pt;
  padding: 0 15px;
  color: #97A0C1;
}

.place-photos{
  background-color: #394263;
  min-height: 150px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.place-photos #new-gallery{
  position: absolute;
  top: 5px;
  background-color: transparent;
  font-size: 12pt;
  left: 0;
}

#new-gallery + .tooltip > .tooltip-inner{
  background-color: #13C1C4;
  font-weight: bold;
  padding: 10px 20px;
}

#new-gallery + .tooltip.left .tooltip-arrow {
  border-left-color: #13C1C4;
}

.place-photos #edit-gallery{
  position: absolute;
  top: 3px;
  background-color: transparent;
  font-size: 12pt;
  left: 0;
}

#edit-gallery + .tooltip > .tooltip-inner{
  background-color: #13C1C4;
  font-weight: bold;
  padding: 10px 20px;
}

#edit-gallery + .tooltip.left .tooltip-arrow {
  border-left-color: #13C1C4;
}

.place-photos .gallery-title{
  text-align: center;
  font-size: 13pt;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 5px;
  width: 100%;
  display: block;
  background-color: #13C1C4;s
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.place-photos img{
  width: 30%;
  height: 100px;
  border-radius: 3px;
  border: 6px solid #51587A;
  margin: 6px 3px;
  object-fit: cover;
}

.club-events{
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  background-color: #394263;
  min-height: 150px;
}

.club-events-title{
  text-align: center;
  font-size: 13pt;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  display: block;
  background-color: #CC324C;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.club-events-empty{
  line-height: 100px;
  text-align: center;
  color: #fff;
  font-size: 14pt;
}

.club-event-item{
  position: relative;
  overflow: hidden;
  min-height: 240px;
  max-height: 240px;
}

.club-event-item:last-child{
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.club-event-item span{
  position: absolute;
  width: 100%;
  bottom: -70px;
  left: 0;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, .8);
  text-align: center;
  color: #fff;
  -webkit-transition: bottom .2s ease-in-out;
  -moz-transition: bottom .2s ease-in-out;
  -o-transition: bottom .2s ease-in-out;
  transition: bottom .2s ease-in-out;
}

.club-event-item span h1{
  margin-bottom: 50px;
}

.club-event-item .hot-pink-btn{
  padding: 5px 80px;
  font-size: 10pt;
}

.club-event-span-up{
  bottom: 0 !important;
  -webkit-transition: bottom .2s ease-in-out;
  -moz-transition: bottom .2s ease-in-out;
  -o-transition: bottom .2s ease-in-out;
  transition: bottom .2s ease-in-out;
}

.club-right-column{
  width: 25%;
  margin-top: 20px;
  margin-left: auto;
}

.club-address-section p{
  text-align: center;
  background-color: #CC324C;
  color: #fff;
  font-size: 12pt;
  padding: 20px 10px;
  margin: 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.club-address-section p i{
  margin-right: 3px;
  font-size: 14pt;
}

.club-address-section .map{
  border: none;
  width: 100%;
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 15px;
}

.club-address-section #map{
  height: 350px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.modal-body .modal-right-column #club_logo{
  color: #fff;
  margin-top: 10px;
}

.modal-body .modal-main-column #clubevent_image{
  color: #fff;
  margin-left: auto;
  margin-top: 10px;
}

.modal-body .modal-left-column #clubimage_img1,
.modal-body .modal-left-column #clubimage_img2,
.modal-body .modal-left-column #clubimage_img3,
.modal-body .modal-right-column #clubimage_img4,
.modal-body .modal-right-column #clubimage_img5,
.modal-body .modal-right-column #clubimage_img6{
  color: #fff;
  margin-top: 10px;
}

@media(max-width: 1200px){
  .club-main-container{
    margin-top: 20px;
  }
  .club-event-item {
    min-height: 200px;
   } 
}

@media(max-width: 991px){
  .club-logo{
    width: 200px;
    height: 200px;
  }
}