.body{
  background: url('http://s28.postimg.org/9a69904ot/graybg.jpg');
  background-repeat: repeat;
  margin-top: 100px;
}

.ue-cont{
  margin-bottom: 150px;
  margin-top: 150px;
}

.ue-errors{
  text-align: center;
  margin-top: -50px;
}

.ue-errors li{
  display: block;
}

/* Profile image */

.ue-information{
  font-weight: bold;
  color: #3D78D3;
}


.ue-img img{
  width: 250px;
  height: 250px;
}

.ue-file-btn{
  margin-top: 20px;
}

@media (max-width: 1200px){
  .ue-file-btn{
    margin: 0px auto;
    margin-top: 15px;
  }
  .ue-img-col{
    margin-bottom: 15px;
    text-align: center;
  }
  .ue-cont{
    margin-bottom: 150px;
    margin-top: 0px;
  }
}

/* Form */

.ue-title{
  font-size: 30px;
  font-weight: bold;
  color: #ccc;
  text-align: center;
}

.ue-elements{
  margin: 20px;
}

.ue-labels{
  margin-right: 10px;
}

.email-conf-msj{
  margin-right: 15%;
}

