.unique{
	background: url('banner.png') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Devise forms */

.sign_in{
	text-align: center;
	padding: 20px;
	margin: auto;
  width: 300px;
  margin-top: 150px;
}

@media (max-width: 360px){
	.sign_in{
		width: 100%;
	}
}

.forgot_pass{
	text-align: center;
	padding: 20px;
	margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#form{
	padding: 30px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px 10px 10px 10px;
	rder: -moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	bo0px solid #000000;
	box-shadow: 0 1px 5px 0 #ccc;
	color: #3D78D3;
	border-color: #3D78D3;
}

.elements{
	margin: 15px;
}




