.event{
  background-color: #1F253D;
}

.event .header{
  background-color: #091e31;
}

.header-content{
  height: 450px;
}

.event-name{
  text-align: center;
  text-transform: uppercase;
  font-size: 75pt;
  margin-top: 15px;
  color: #fff;
  margin-bottom: -10px;
  font-family: Medula One;
}

.event-main-container{
  background-color: #1F253D;
  padding: 0 10px;
}

.event-image-btns{
  margin-top: -250px;
  position: relative;
  z-index: 0;
}

.event-image-btns img{
  width: 100%; 
}

.event-btns{
  position: absolute;
  text-align: right;
  top: 5px;
  width: 100%;
  z-index: -1;
  -webkit-transition: top .2s ease-in-out;
  -moz-transition: top .2s ease-in-out;
  -o-transition: top .2s ease-in-out;
  transition: top .2s ease-in-out;
}

.event-btns-show{
  top: -40px;
  -webkit-transition: top .2s ease-in-out;
  -moz-transition: top .2s ease-in-out;
  -o-transition: top .2s ease-in-out;
  transition: top .2s ease-in-out;
}

.event-columns{
  display: -webkit-flex;
  display: flex;
  margin-top: 20px;
}

.event-left-column{
  width: 60%;
}

.event-description{
  background-color: #394263;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.event-description .description{
  word-wrap: normal;
  white-space: pre-wrap;
  color: #fff;
  padding: 10px;
  text-align: left;
  line-height: 22px;
  font-size: 11pt;
}

.event-description .description:first-letter{
  text-transform: uppercase;
}

.event-lists .lists-title{
  color: #fff;
  text-align: center;
  margin: 20px auto;
  background-color: #FCB150;
  padding: 5px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 18pt;
}

.event-lists .lists-empty{
  color: #fff;
  font-size: 14pt;
  text-align: center;
  background-color: #394263;
  padding: 15px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.event-lists .list-container{
  background-color: #394263;
  position: relative;
  margin: 35px 5px;
  -webkit-border-radius: 75px 3px 3px 75px;
  -moz-border-radius: 75px 3px 3px 75px;
  border-radius: 75px 3px 3px 75px;
  height: 75px;
  text-align: center;
}

.list-container > img{
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -10px;

}

.list-container > p{
  color: #fff;
  font-size: 12pt;
  line-height: 75px;
}

.list-container p i{
  font-size: 18pt;
  margin-right: 5px;
}

.event-lists .list-btns{
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.event-lists .list-btns .add-name{
  width: 150px;
  display: block;
  margin-bottom: 5px;
}

.event-lists .list-btns .remove-list{
  width: 150px;
  display: inline-block;
}

.event-lists .list-btns .remove-name{
  width: 150px;
  display: inline-block;
}

.lists-index-btns{
  display: -webkit-flex;
  display: flex;
  float: right;
}

.lists-index-btns a{
  padding: 2px 35px;
  font-size: 11pt;
}

.event-create-list{
  padding: 2px 35px;
  font-size: 11pt;
}

.event-right-column{
  width: 40%;
  text-align: center;
}

.event-logo-info{
  background-color: #394263;
  margin-left: 20px;
  padding-top: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.event-logo{
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  height: 230px;
  width: 230px;
  border: 10px solid #51587A;
}

.event-logo-info .club-name{
  text-align: center;
  font-size: 22pt;
  font-weight: bold;
  margin-top: 10px;
  color: #fff;
}

.event-logo-info .club-name a{
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.event-logo-info .club-name a:hover{
  color: #9099B7;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.event-info{
  display: -webkit-flex;
  display: flex;
  color: #fff;
  width: 100%;
  font-size: 14pt;
  margin-top: 25px;
}

.event-date{
  width: 33.33%;
  padding: 20px 0;
  font-size: 14pt;
  border-right: 1px solid #262F4E;
  border-top: 3px solid #E64C65;
  display: inline-block;
}

.event-date i{
  color: #9099B7;
  margin-right: 5px;
}

.event-date + .tooltip > .tooltip-inner{
  background-color:#E64C65;
  font-weight: bold;
  padding: 10px 20px;
}

.event-date + .tooltip.top .tooltip-arrow {
  border-top-color: #E64C65;
}

.event-hour{
  width: 33.33%;
  padding: 20px 0;
  font-size: 14pt;
  border-top: 3px solid #11A8AB;
  display: inline-block;
}

.event-hour i{
  color: #9099B7;
  margin-right: 5px;
}

.event-hour + .tooltip > .tooltip-inner{
  background-color:#11A8AB;
  font-weight: bold;
  padding: 10px 20px;
}

.event-hour + .tooltip.top .tooltip-arrow {
    border-top-color: #11A8AB;
}

.event-age{
  width: 33.33%;
  padding: 20px 0;
  font-size: 14pt;
  border-left: 1px solid #262F4E;
  border-top: 3px solid #FCB150;
  display: inline-block;
}

.event-age i{
  color: #9099B7;
  margin-right: 5px;
}

.event-age + .tooltip > .tooltip-inner{
  background-color:#FCB150;
  font-weight: bold;
  padding: 10px 20px;
}

.event-age + .tooltip.top .tooltip-arrow {
    border-top-color: #FCB150;
}

.event-address-section{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.event-address-section p{
  text-align: center;
  background-color: #CC324C;
  color: #fff;
  font-size: 12pt;
  padding: 20px 10px;
  margin: 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.event-address-section p i{
  margin-right: 3px;
  font-size: 14pt;
}

.event-address-section .map{
  border: none;
  width: 100%;
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 15px;
}

.event-address-section #map{
  height: 400px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

@media(max-width: 990px){
  .event-lists .list-container {
    height: 90px;
  }
  .list-container > p {
    line-height: 45px;
    text-align: right;
    margin-right: 15px;
  }
  .list-container > img {
    width: 100px;
    height: 100px;
  }
  .event-lists .list-btns {
    position: absolute;
    top: auto;
    bottom: 10px;
    display: -webkit-box;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .event-lists .list-btns .add-name {
    width: 100px;
  }
  .event-lists .list-btns .remove-name {
    width: 100px;
  }
  .event-lists .list-btns .remove-list {
    width: 100px;
    display: inline-block;
  }
  .event-logo{
    width: 200px;
    height: 200px;  
  }
}

@media(max-width: 800px){
  .event-info{
    display: block;
  }
  .event-date{
    width: 100%;
    border-right: none;
  }
  .event-hour{
    width: 100%;
  }
  .event-age{
    width: 100%;
    border-left: none;
  }
}

@media(min-width: 700px) and (max-width: 900px){
  .event-name{
    font-size: 70pt;
    margin-top: 25px;
  }
}