.events{
	background: url('graybg.jpg');
}

.event-photo{
	margin-top: 100px;
	margin-bottom: 12px;
}

.image{
	height: 450px;
	background-size: cover;
	background-position: center;
	margin: 10px;
	margin-top: 20px
}

.event-content{
	margin-top: 100px;
	height: 1000px;
	background-color: white;
}