/* Carousel*/

.banner-btn{
	background-image: url('http://s18.postimg.org/43too9139/Puy_R8_Oy6_W1_C.png');
	position: absolute;
	z-index: 1;
	margin-left: 20px;
	margin-top: 20px;
	height: 30px;
	width: 30px;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	outline: none;
	opacity: 0.5;
	transition: opacity 0.35s ease-in-out;
}

.banner-btn:hover{
	opacity: 1;
	transition: opacity 0.35s ease-in-out;
}

.images-fields{
	margin-left: 100px;
	display: inline-flex;
}

.image-label{
	font-size: 10pt;
}

.choose-btn{
	margin-left: 60px;
}

.slide {
	position: relative;
	line-height: 1;
	margin-top: 60px;
}

.item{
	max-height: 700px;
}

.item>img {
min-width: 100%;
}

.carousel-control {
	height: 80px;
	margin-top: 4%;
	font-size: 90px;
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	background-color: transparent;
	border: 0;
	opacity: 0.7;
	transition: opacity 0.35s ease-in-out;
}

.carousel-control:hover, .carousel-control:focus {
	outline: 0;
	text-decoration: none;
	opacity: 1;
	transition: opacity 0.35s ease-in-out;
}

.carousel-control.left {
	top: 30%;
	background-image: none;
}

.carousel-control.right {
	top: 30%;
	background-image: none;
}

@media (max-width: 1300px){
	.carousel-control.left {
		top: 20%;
	}

.carousel-control.right {
		top: 20%;
	}
}

@media (max-width: 767px){
	.carousel-control.left {
		top: 15%;
	}

	.carousel-control.right {
		top: 15%;
	}
	.slide{
		margin-top: 55px;
	}
	.carousel-inner > .item > img{
		height: 300px;
	}
}

@media (max-width: 550px){
	.carousel-control.left {
		top: 15%;
	}

	.carousel-control.right {
		top: 15%;
	}
}

@media (max-width: 600px){
	.carousel-inner > .item > img{
		height: 250px;
	}
}

@media (max-width: 450px){
	.carousel-inner > .item > img{
		height: 150px;
	}
}

/* Events */

.search{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

/* Tabs panel */
.tabbable-panel {
	border:1px solid #eee;
	padding: 10px;
}

.tabbable-line > .nav-tabs {
	border: none;
	margin-left: 35%;
}
.tabbable-line > .nav-tabs > li {
	margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
	border: 0;
	margin-right: 0;
	color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
	color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, 
.tabbable-line > .nav-tabs > li:hover {
	border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, 
.tabbable-line > .nav-tabs > li:hover > a {
	border: 0;
	background: none !important;
	color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, 
.tabbable-line > .nav-tabs > li:hover > a > i {
	color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, 
.tabbable-line > .nav-tabs > li:hover .dropdown-menu {
	margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
	border-bottom: 4px solid #f3565d;
	position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
	border: 0;
	color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
	color: #404040;
}
.tabbable-line > .tab-content {
	margin-top: -3px;
	background-color: #fff;
	border: 0;
	border-top: 1px solid #eee;
	padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
	padding-bottom: 0;
}

.tab-pane{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

/* Grid */

.grid{
	text-align: center;
	margin-bottom: -10px;
}

.grids-container{
	width: 80%;
}
