/* Banner */

.banner{
	border-bottom: 1px solid #dededa;
	background: url('banner.png') no-repeat fixed center 140%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -100px;
  height: 800px;
}

@media (max-width: 1199px){
	.banner{
		height: 1400px;
	}
}

/* Facebook Button*/

.fb-btn{
	width: 250px;
	height: auto;
	margin: auto;
	text-align: center;
	padding-bottom: 20px;
}

.btn-block{
	padding-left: 30px;
	text-indent: 1px;
}


/* Steps*/

.steps{
	text-align: center;
	width: 100%;
	padding-top: 30px;
	width: 100%;
	border-bottom: 1px solid #d1d1cf;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 100%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(100%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); 
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 100%,rgba(255,255,255,1) 100%); 
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 100%,rgba(255,255,255,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 100%,rgba(255,255,255,1) 100%); 
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 100%,rgba(255,255,255,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); 
}

.separator-first {
left: 33.333%;
}

.separator-second {
left: 66.667%;
}

.separator {
position: absolute;
width: 1px;
top: 28px;
bottom: 28px;
background: #d1d1cf;
float: left;
height: 300px;
margin-top:  800px;
}

#numbers{
	padding-bottom: 40px;
}

#numbers:first-child{
	border-left: none;
}

@media (max-width: 1199px){
	#numbers{
		padding-bottom: 40px;
		margin-top: 0px;
	}
	#numbers:first-child{
		margin-top: 0px;
	}
	.separator{
		width: 90%;
		height: 1px;
		position: relative;
		top: auto;
		bottom: auto;
		left: 5%;
		margin-top: 0px;
	}
}

/*photos*/

.photos{
	width: 100%;
}

.first{
	padding-top: 50px;
}

/* Footer */

.copy{
	letter-spacing: 1px;
	text-transform: uppercase;
	color: white;
	padding-bottom: 35px;
	font-size: 10px;
}

footer{
	margin-top: 50px;
	text-align: center;
	background-color: #1a1b22;
	height: 300px;
}

.first-footer{
	color: white;
	font-size: 30px;
	padding-top: 50px;
}

.second-footer{
	border-top: 2px solid #c50000;
	width: 100%;
	margin-top: 20px;
	padding-top: 30px;
}

.social{
	padding: 20px 0px 20px 0px;
}

.pull-right{
	margin-top: -30px;
}

.btn-facebook:hover{
	color: white;
}

.btn-google-plus:hover{
	color: white;
}

.btn-instagram:hover{
	color: white;
}

.btn-twitter:hover{
	color: white;
}