.profile-bg{
  background: url('//s28.postimg.org/kghdei0x9/oie_1212527_ES5e_B4_Di.png');
}

.user-info {
  background: rgba(128, 0, 0, 0.8);
  width: 90%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.photo{
  border-radius: 20px;
  width: 200px;
  height: 200px;
  margin-left: 50px;
  margin-top: 30px;
}

.name{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: white;
}

.profile-content{
  height: 800px;
  width: 90%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0 1px 5px 0 #ccc;
}
