<h1>Hola <%= @resource.name %>!</h1>
<p>Has solicitado cambiar tu contraseña. Podes hacerlo a través del siguiente enlace.</p>
<p>Si no solicitaste esto, por favor ignora este correo.</p>
<p>Tu contraseña no será cambiada a menos que entres al enlace y crees una nueva.</p>
<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>    